* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: sans-serif; */
  font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Istok Web', sans-serif;
}
